extends ./layout.jade

block body
	#hero.row
		h1 Abundant Life Christian Fellowship

	.row.teaching
		#messages
			h3 Messages
		#pastor-pen
			h3 Pastor's Pen
	#key-events.row
		h3 Highlighted Events Carousel

	#more-events.row
		h3 All Events Cards



//	.welcome
//		img(src=pagecontent.getImage('page.image').url, class='star')
//		!= pagecontent.getStructuredText('page.title').asHtml(ctx.linkResolver)
//		!= pagecontent.getStructuredText('page.description').asHtml(ctx.linkResolver)